@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}



a {
  text-decoration: none;
}




:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% );
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}





@layer components {
  .btn-primary {
      @apply mb-3 inline-flex h-12 w-full items-center justify-center px-6 font-medium tracking-wide shadow-md transition duration-200 focus:outline-none md:mr-4 md:mb-0 md:w-auto text-white hover:text-yellow-50 bg-gradient-to-r  from-pink-500 to-purple-500 hover:from-cyan-600 hover:to-blue-600 rounded-full;
  };

  .BG {
   @apply text-white bg-gradient-to-tr  from-blue-500 to-purple-500
  }
}





.TA {
  transition: transform 450ms;
}
.TA:hover {
  transform: scale(1.09);
}

.whatsapp_transform {
  transition-timing-function: ease-in;
  transition: all 0.2s;
  box-shadow: 0 0 2rem 0.1rem #22c55e;
}

.BGCTA {
  background-image: url("../assets/images/services.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.BGCTA-blur {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

