  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Quicksand','Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

:root {
  --heading: rgb(0 10 45);
  --para: #94a3b8;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: linear-gradient(
    180.7deg,
    rgba(0, 213, 255, 1) 2.5%,
    rgba(79, 255, 255, 1) 97.7%
  );
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

@layer components {
  .btn-primary {
    @apply mb-3 inline-flex h-12 items-center justify-center px-6 font-medium tracking-wide shadow-md transition duration-200 focus:outline-none md:mr-4 md:mb-0 md:w-auto text-white hover:text-cyan-500 bg-gradient-to-r  from-violet-600 to-purple-500 hover:from-gray-50 hover:to-gray-50 rounded-full;
  }


  .TEXTCOLOR {
    @apply text-slate-400;
  }
  .MAINCOLOR {
    @apply text-cyan-300;
  }
}

.TA {
  transition: transform 450ms;
}
.TA:hover {
  transform: scale(1.09);
}

.whatsapp_transform {
  transition-timing-function: ease-in;
  transition: all 0.2s;
  box-shadow: 0 0 2rem 0.1rem #22c55e;
}

.BGCTA-blur {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}
